<div class="container">
    <div *ngIf="showAlert" class="alert alert-warning alert-dismissible fade show alertWidth" role="alert">
        <strong>Student Registration is success!!!</strong>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>

</div>
<div class="col-md-6 offset-md-3 mt-5">

    <div class="card">
        <h4 class="card-header">Registration Form</h4>
        <div class="card-body">
            <form [formGroup]="registrationForm" (ngSubmit)="onSubmit()">

                <label class="form-field">
                    Student Name *:
                    <input type="text" formControlName="stdName" required>
                </label>


                <div *ngIf="stdName.invalid && (stdName.dirty || stdName.touched)" class="alert alert-danger">

                    <div *ngIf="stdName.errors.required">
                        Name is required.
                    </div>
                    <div *ngIf="stdName.errors.minlength">
                        Name must be at least 4 characters long.
                    </div>

                </div>
                
                <label class="form-field">
                    Student Course *:
                    <input type="text" formControlName="stdCourse" required>
                </label>


                <div *ngIf="stdCourse.invalid && (stdCourse.dirty || stdCourse.touched)" class="alert alert-danger">

                    <div *ngIf="stdName.errors.required">
                        Course is required.
                    </div>

                </div>

                <div class="adress-field" formGroupName="stdAdress">
                    <h6>Address</h6>

                    <label class="form-field">
                        Street:
                        <input type="text" formControlName="street">
                    </label>


                    <label class="form-field">
                        City:
                        <input type="text" formControlName="city">
                    </label>

                    <label class="form-field">
                        State:
                        <input type="text" formControlName="state">
                    </label>

                    <label class="form-field">
                        Zip Code:
                        <input type="number" formControlName="zip">
                    </label>

                </div>


                <div class="form-field">

                    <button *ngIf="!loading" class="btn btn-primary btn-style" type="submit" [disabled]="!registrationForm.valid">
                        Submit
                    </button>
                    <button *ngIf="loading" class="btn btn-primary btn-style" type="button" disabled>
                        <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                        <span class="sr-only">Loading...</span>
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>